
<div class="basic-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="login-card">
        <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-card-header justify-content="center">
                <mat-card-title>Sign in</mat-card-title>
            </mat-card-header>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <div fxLayout="column" fxLayoutAlign="center" width="80%">
                
                <mat-error *ngIf="error">{{error}}</mat-error>

                <mat-form-field appearance="outline">
                    <mat-label>Enter your user name</mat-label>
                    <input matInput formControlName="username" required />
                    <mat-error *ngIf="f.username.invalid">Username is required</mat-error>
                </mat-form-field>
                    
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" required [type]="hidePassword ? 'password' : 'text'"/>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="f.password.invalid">Password is required</mat-error>
                </mat-form-field>
                
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid || IsAccepted==0">Login</button>
            </div>

        
        <!-- <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>-->
        
        </form>
    </mat-card-content>
    </mat-card>
</div>