<div class=" basic-container ">
  <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="playerNickName">
      <mat-header-cell *matHeaderCellDef mat-sort-header MatSortHeaderIntl>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-label>Player</mat-label>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="nameFilter">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.playerNickName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamNickName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-label>Team</mat-label>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="teamFilter">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.teamNickName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="skillCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-label>Skill</mat-label>

          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="skillFilter">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.skillCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="battingPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-label>Batting Points</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.battingPoints}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bowlingPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-label>Bowling Points</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.bowlingPoints}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="fieldingPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-label>Feilding Points</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.fieldingPoints}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="bonusPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-label>Bonus Points</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.bonusPoints}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="totalPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-label>Total Points</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.totalPoints}}</mat-cell>
    </ng-container>
      
    
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let players; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>