<div class="basic-container">
  <mat-form-field>
    <mat-select [formControl]="option">      
      <mat-option value="overall">Overall</mat-option>
      <mat-option *ngFor="let phase of tournamentPhases" [value]="phase.phaseNo">Phase {{phase.phaseNo}}</mat-option>   
    </mat-select>
  </mat-form-field>
  
  <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rank </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Points </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transfersLeft">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transfers Left </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transfersLeft}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="navigate(row)"></mat-row>
  </mat-table>
</div>