<div class="basic-container">
  <div
    fxLayout="row"
    fxLayoutGap = "20px"
    fxLayoutWrap
    fxLayout.xs="column"
  >
    <mat-form-field>
      <mat-select [(formControl)]="userFormControl">
        <mat-option *ngFor="let user of users" [value]="user.profileId">{{
          user.userName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(formControl)]="matchFormControl">
        <mat-option
          *ngFor="let match of tournamentMatches"
          [value]="match.matchId"
          >{{ match.matchId }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <router-outlet *ngIf="selectedMatchId" class="mat-app-background"></router-outlet>
  <!--- <app-user-match-view [user]="option.value"></app-user-match-view> -->
</div>
