<div fxLayout="row" fxLayoutGap="20px">
  <!--- <h5>Transfers Left - {{ transfersLeft.transfersLeft }}</h5> -->
  <div *ngIf = "matchPoints">
    <h5>Points - {{ matchPoints.points }}</h5>
    <h5>Rank - {{ matchPoints.rank }}</h5>
  </div>
</div>
<table mat-table [dataSource]="matchPlayers" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="skill">
      <th mat-header-cell *matHeaderCellDef fxFlex="20%" fxLayoutAlign="start center">Skill</th>
      <td mat-cell *matCellDef="let element" fxFlex="20%" fxLayoutAlign="start center">{{ element.skillCode }}</td>
  </ng-container>

  <ng-container matColumnDef="playerNickName">
      <th mat-header-cell *matHeaderCellDef fxFlex="20%" fxLayoutAlign="start center">Name</th>
      <td mat-cell *matCellDef="let element" fxFlex="20%" fxLayoutAlign="start center">{{ element.playerNickName }}</td>
  </ng-container>

  <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef fxFlex="15%" fxLayoutAlign="start center">Team</th>
      <td mat-cell *matCellDef="let element" fxFlex="15%" fxLayoutAlign="start center">{{ element.teamNickName }}</td>
  </ng-container>

  <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef fxFlex="15%" fxLayoutAlign="start center">Points</th>
      <td mat-cell *matCellDef="let element" fxFlex="15%" fxLayoutAlign="start center">{{ element.totalPoints }}</td>
  </ng-container>

  <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef fxFlex="30%" fxLayoutAlign="start center">Owner</th>
      <td mat-cell *matCellDef="let element" fxFlex="30%" fxLayoutAlign="start center">{{ element.owner }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
